In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../datasets/P_Data_Extract_From_World_Development_Indicators/b4939732-517f-4fbf-afd6-69ceb878202c_Data.csv')

In [4]:
df.head(100)

,Country Name,Country Code,Series Name,Series Code,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,..
1,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,10.2,11.4,12.6,13.5,14.5,15.6,16.4,17.4,18.5,..
2,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,78,79.5,80.5,81.6,82.6,83.2,83.8,84.5,85,..
3,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,89.5,71.5,97.7,97.7,93.4,97.7,97.7,97.7,85.3,..
4,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,86.5,64.6,97.1,97.1,91.6,97.1,97.1,97.1,81.7,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Albania,ALB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,99.9,100,99.7,99.7,100,100,100,100,100,..
96,Albania,ALB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,100,100,100,100,100,100,100,100,100,..
97,Albania,ALB,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.KD.ZG,1.96183844726158,0.767592593421867,2.04752051403811,0.837116541882182,1.17693447095178,2.24890026878522,1.79465942917798,-1.68228900859822,-4.82596127862971,-1.82326466761296
98,Albania,ALB,Alternative and nuclear energy (% of total ene...,EG.USE.COMM.CL.ZS,24.5480502099359,..,..,..,..,..,..,..,..,..
99,Albania,ALB,Carbon dioxide (CO2) emissions (total) excludi...,EN.GHG.CO2.ZG.AR5,-23.2481872611848,-26.7593344766375,-31.868098805548,-19.527935734272,-20.675752925956,-25.4385173150405,-35.2709329963595,-34.4375244456479,-32.5119595631375,..

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24211 entries, 0 to 24210
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   24208 non-null  object
 1   Country Code   24206 non-null  object
 2   Series Name    24206 non-null  object
 3   Series Code    24206 non-null  object
 4   2014 [YR2014]  24206 non-null  object
 5   2015 [YR2015]  24206 non-null  object
 6   2016 [YR2016]  24206 non-null  object
 7   2017 [YR2017]  24206 non-null  object
 8   2018 [YR2018]  24206 non-null  object
 9   2019 [YR2019]  24206 non-null  object
 10  2020 [YR2020]  24206 non-null  object
 11  2021 [YR2021]  24206 non-null  object
 12  2022 [YR2022]  24206 non-null  object
 13  2023 [YR2023]  24206 non-null  object
dtypes: object(14)
memory usage: 2.6+ MB

In [6]:
df.shape

(24211, 14)

In [7]:
df.isnull().sum()

Country Name     3
Country Code     5
Series Name      5
Series Code      5
2014 [YR2014]    5
2015 [YR2015]    5
2016 [YR2016]    5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
2021 [YR2021]    5
2022 [YR2022]    5
2023 [YR2023]    5
dtype: int64